h1 {
    text-align: center;
    background-color: #1c2b1c;
    color: #e6eaea;
    border-radius: 5px;
}

th {
text-align: center;
}

footer {

    text-align: center;
    font-size: small;

}
caption {
    font-weight: bold;
    font-size: small;
}

.imgr {
    position:absolute;
        left:50%;
        top:50%;

}

td {
    position: relative;
    font-size: 14px;
    padding: 100px;
    width: 20%;
    /*text-align: center;*/
    vertical-align: top;


}

.bb {
    font-weight: bold;
    color: #1c1c1d;
    font-style: italic;
}

.inn {
    text-align: center;

}
