h1 {
    text-align: center;
    background-color: #1c2b1c;
    color: #e6eaea;
    border-radius: 5px;
}


footer {

    text-align: center;
    font-size: small;
    font-family: "Candara";
}
caption {
    font-weight: bold;
    font-size: small;
}

